<!DOCTYPE html>
<html>
  <head>
    <title><%= Express Dev Skills %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Express Dev Skills</h1>
    <h1><%= title %></h1>
    <a href="/skills">Express Dev Skills</a>
  </body>
</html>
